*
!Dockerfile
!site/
!site/**
!brain/
!brain/repositories/
!brain/repositories/**

site/node_modules/
site/.next/
site/.next-*/
site/coverage/
site/out/
site/build/
site/.env*
!site/.env.example
site/*.log
